html,
body {
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}


a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(75, 159, 107);
}

html {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    margin-top: -10px;
    border-bottom: solid 3px rgb(75, 159, 107);

}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected {
    color: rgb(75, 159, 107);
    border-bottom: solid 2px rgb(75, 159, 107);
}



#mainLogo {
    width: 100vw;


}

.mainHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    color: white;
    border-radius: 0 0 20% 20%;
    border-bottom: 2px solid rgb(75, 159, 107);
    border-top: 2px solid rgb(75, 159, 107);
    overflow: hidden; /* Ensures video doesn’t overflow */
}

/* Background Video */
.background-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;
    object-fit: cover; /* Makes sure the video covers the entire header */
}

.contactHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
    height: 300px;
    background-image: url(../dist/img/Ross&Keith.jpeg);
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;

    border-bottom: 2px solid rgb(75, 159, 107);
    border-top: 2px solid rgb(75, 159, 107);
    border-radius: 0 0 20% 20%;

}

.showsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
    height: 350px;
    background-image: url(../dist/img/soundwalkThreeStories.jpeg);
    background-position: center;
    background-size: cover;
    font-size: 40px;

    background-repeat: no-repeat;

    border-bottom: 2px solid rgb(75, 159, 107);
    border-top: 2px solid rgb(75, 159, 107);
    border-radius: 0 0 20% 20%;
}


#screenTop {
    position: sticky;
    top: 0;
    z-index: 9999;

}


#contentMainText {
    font-size: 20px;
    text-shadow: 2px 2px black;
    padding: 0 30px 0 30px;
}


.infoSection {
    background-color: rgb(0, 0, 0);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 30px 40px 30px;
    border-bottom: 2px solid rgb(75, 159, 107);
    max-width: 1100px;

}

.subheading {
    color: rgb(105, 173, 200);
}

.bandMember {
    width: 70%;
    margin-bottom: 40px;
}

.bandMemberName {
    color: rgb(75, 159, 107);
    font-size: 20px;
}

.bandmemberImg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid rgb(75, 159, 107);
    object-fit: cover;
    box-shadow: 0px 0px 20px rgb(75, 159, 107);
}

#KeithImg {
    object-position: 0 5px;
}

#BarryImg {
    object-position: -10px;
}


footer {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 20px 5px 0;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid rgb(75, 159, 107);
    position: sticky;
    bottom: 0;
}

.Eliza {
    font-size: 12px;
}

.Fraser{
    color: rgb(75, 159, 107);
}

.contactPage {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    max-width: 1000px;
}

#formcaveats {
    background-color: rgb(75, 159, 107, 0.6);
    height: 200px;
    font-size: 14px;
    padding: 15px;
    margin: 25px 25px 50px 25px;
    border: 3px solid rgb(75, 159, 107);
    box-shadow: 0px 0px 10px rgb(75, 159, 107);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#contactPageText {
    margin: 20px;
}

#emailLink {
    color: rgb(75, 159, 107);
    font-weight: 800;
}

#enquiryForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 500px;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(75, 159, 107);
    box-shadow: 0px 0px 10px rgb(75, 159, 107);
    border-radius: 10px;
    max-width: 600px;
    overflow: hidden;
}

#Name,
#Number,
#Email {
    width: 200px;
}


#Info {
    max-height: 200px;
    min-height: 200px;
    min-width: 280px;
    max-width: 281px;
}

iframe{
    margin: 30px;
}

#mediaPage {
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}

.promoVidWrapper{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.titleVideoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.YTVid {
    border: 2px solid rgb(75, 159, 107);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(75, 159, 107);
    margin-bottom: 60px;
    height: 315px;
    width: 560px;
}

.YTVidVert {
    border: 2px solid rgb(75, 159, 107);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(75, 159, 107);
    margin-bottom: 60px;
    width: 315px;
}

#showsPage {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 700px;
}

.showYear {
    font-weight: 800;
    font-size: 22px;
    padding-top: 40px;
}

.showMonth {
    width: 320px;
    font-size: 20px;
    color: rgb(75, 159, 107);
    font-weight: 600;
    border-bottom: 2px solid rgb(255, 255, 255);
}


#gigItem {
    width: 270px;
    border: 2px solid rgb(75, 159, 107);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(12, 48, 64, 0.5);
    box-shadow: 0px 0px 10px rgb(75, 159, 107);

}

.venueHolder {
    color: rgb(75, 159, 107);
    font-weight: 800;
}




@keyframes flyInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fly-in-left {
    animation: flyInLeft 1.9s ease forwards;
}



@media (max-width: 600px) {
    #mainLogo {
        content: url('../dist/img/soundwalkLogo999.jpg');
    }

    .mainHeader,
    .contactHeader,
    .showsHeader {
        height: 200px;
    }

    #contentMainText {
        font-size: 20px;
    }

    .YTVid {
        width: 300px;
        height: 169px;
    }

    .YTVidVert {
        width: 300px;
    }

    .bandMember {
        width: 300px;
    }

}

@media (min-width: 601px) and (max-width: 1000px) {
    #mainLogo {
        content: url('../dist/img/soundwalkLogo1248.jpg');
        max-height: 200px;
    }




    nav {
        padding: 0 100px 10px 100px;
    }
}

@media (min-width: 1001px) {

    nav {
        padding: 0 200px 10px 200px;

    }

    #mainLogo {
        max-height: 200px;
    }



    header {
        background-position: 0 -65px;
        
    }

    .mainHeader{
        height: 500px;
    }

}