html, body {
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

html{
    display: flex;
    flex-direction: column;
}

#mainLogo{
    width: 100vw;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    color: white;
    height: 400px;
    background-image: url(../src/img/audience.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid rgb(75, 159, 107);
    border-top: 2px solid rgb(75, 159, 107);

}

#contentMainText{
    font-size: 50px;
    text-shadow: 2px 2px black;
}

@keyframes flyInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fly-in-left {
    animation: flyInLeft 1.9s ease forwards;
}

.infoSection{
    background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 10px;
    border-bottom: 2px solid rgb(75, 159, 107);
    border-radius: 5px;

}

@media (max-width: 600px) {
    #mainLogo {
        content: url('../src/img/soundwalkLogo999.jpg');
    }

    header{
        height: 200px;
    }

    #contentMainText{
        font-size: 30px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    #mainLogo {
        content: url('../src/img/soundwalkLogo1248.jpg');
    }
}

